
<!--
<div>
  {{enteredTitle}}<br>
  {{enteredContent}}<br>

</div> -->
<!-- <p [innerHTML]=content></p> -->
<h3>Components Interacting using Angular</h3>
<hr/>
<mat-card>
    <mat-form-field>
        <input matInput placeholder="enter title here ......" type="text" [(ngModel)]="enteredTitle">
    </mat-form-field><br>
    <mat-form-field>
        <textarea matInput placeholder="enter content here..." rows="6" [(ngModel)]="enteredContent">
        </textarea>
    </mat-form-field><br>
    <button  mat-raised-button color="accent" (click)="onAddPost()">Save Post

    </button>
</mat-card>
