<app-header></app-header>
<main>
<app-postcreate (postCreated) = "onPostAdded($event)"></app-postcreate><br>   <!--postCreated ek venet haii jo fire huya hai or yeh onpostadded functionnko call kr rha hai  iss mai post ki value hai -->

<app-postlist [posts] = "storedPosts"></app-postlist> 
     <!--posts ek array hai jo post-list k andar banega-->
 </main>

<!--
<app-header>

</app-header>
<main>
<app-postcreate (postCreated) = "onPostAdded($event)"></app-postcreate>
<app-postlist [posts] = "storedPosts"> </app-postlist >

</main> -->
